*{
    font-family: "微软雅黑";
}
.head{
	min-height:4.5rem;
	margin-bottom: 1rem;
	background: #fff;
	padding: 0.8rem 0.5rem;
}
.head .iconfont{
	position: absolute;
}
.head .iconfont.left-icon{
	left: 0.5rem;
}
.head .iconfont.right-icon{
	right: 0.5rem;
	font-size: 0.86rem;
}
.head .address{
	padding: 0 0 0 2rem;
	text-align: left;
	display: block;
}
.head .address .phone{
	position: absolute;
	right: 1rem;
	top: 0.1rem;
}
.head .address .text{
	font-size: 0.86rem;
	margin-top: 0.3rem;
	padding-right: 2rem;
	line-height: 1.6;
}
.shop-item .line-list-body{
	margin-bottom: 0;
}
.shop-item .line-list-body .item {
	height: 4.5rem;
}
.shop-item .line-list-body .item .info{
	line-height: 1.6rem;
}
.shop-item .line-list-body .item .info .sub-info{
	color: #969696;
	font-weight: lighter;
	font-size: 0.86rem;
}
.shop-item .line-list-body .item .info{
	line-height: 1.6rem;
}


.owl-carousel .item .img{
	display: block;
}
.owl-controls{
	margin-top: -3rem;
}

.shop-item .body .btn{
	margin-top: 1rem;
}

.shop-item .item-intro{
	background: #fff;
}
.shop-item .item-intro .block{
	padding-top: 1.5rem;
}
.shop-item .item-intro .block .iconfont{
	width: 3rem;
}
.shop-item .item-intro .block .info{
	text-align: left;
}
.shop-item .item-intro .block .info .title{
	display: block;
}
.shop-item .item-intro .block .info .text{
	display: block;
	color: #969696;
	font-size: 0.86rem;
	border-bottom: 1px solid #eee;
	padding: 0.5rem 1rem 1.5rem 0;
	line-height: 1.6;
}

.shop-item .slide-left .btn{
	margin-top: 5rem;
}


.pop-out{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 98;
	overflow: auto;
}
.pop-out .pop-mask{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.62);
	z-index: 1;
}
.pop-out .pop-body{
	text-align: center;
	position: absolute;
	padding: 1.5rem;
	background: #fff;
	z-index: 2;
	width: 90%;
	border-radius: 0.5rem;
	top: 30%;
	left: 50%;
	-webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.pop-out .pop-body .img{
	width: 12rem;
}
.pop-out .pop-body .select-group .item{
	padding: 1rem;
}
.pop-out .pop-body .select-group .item select{
	display: block;
	width: 100%;
	height: 2rem;
	padding-left: 0.5rem;
	border: 1px solid #999;
	background: #fff;
}
.pop-out .pop-body .pop-footer{
	padding-top: 2rem;
}
.item-btn{
    position: fixed;
    bottom: 0;
    background-color: #fafafa;
    height: 4.3rem;
    width: 100%;
}
.item-btn .btn{
    margin-top: 0.82rem;
} 
.pay-out{
    padding-top: 1.5rem;
    background-color: #FFFFFF;
    margin-bottom: 0.5rem;
    padding-bottom: 0.2rem;
    border-bottom: 0.3rem red solid;
}
.tiaoxingma{
    float: left;
    margin-left: 1rem;
    line-height: 2rem;
}
.icon-tiaoxingma{
    color: #FC4548;
    font-size: 3rem;
}
.validity-date{
    float: right;
    font-size: 0.785rem;
    margin-right: 1rem;
    color: #C8C8C8;
}
.item-message{
    overflow: hidden;
    padding-left: 0.5rem;
}
.item-message .name{
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.93rem;
}
.item-message .duihuanma{
    line-height: 1.1rem;
    font-size: 0.785rem;
}
.queding{
    float: right;
    margin-right: 15%;
    width: 30%;
}
.quxiao{
    background-color: #fafafa;
    color: #969696;
    float: left;
    margin-left: 15%;
    width: 30%;
}
.pop-header{
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.toast{
    width: 60%;
    background-color: #434343;
    height: 4rem;
}
.finish{
    background-color: #C8C8C8;
}
