<!DOCTYPE html>
<html>
<head>
<link rel="import" href="./common/header.html?__inline">
<link rel="stylesheet" type="text/css" href="../static/css/contractRules.scss">
<title>契约规则</title>
</head>

<body id="v-contract-rule">
	
	<div class="rule01">
		<img src="../static/images/rule01.jpg">
	</div>
	<div class="rule01">
		<img src="../static/images/rule02.jpg">
		<a class="rule" href="https://mp.weixin.qq.com/s/QakDt5GtvRaA3x8RML9nvg" onclick="MtaH5.clickStat('firstCare_rule');">规则详情&nbsp;&nbsp;<i class="iconfont icon-circleright"></i></a>
	</div>
	<div class="rule01">
		<img src="../static/images/rule03.jpg">
	</div>
	<div class="rule01">
		<img src="../static/images/rule04.jpg">
		<a class="story" href="https://mp.weixin.qq.com/s/8HYD_gw-tdLf3lpqWio4aQ" onclick="MtaH5.clickStat('firstCare_story');">点击发现一个美好的故事&nbsp;<i class="iconfont icon-xiangyou1"></i></a>
	</div>
	<div class="rule01">
		<img src="../static/images/rule05.jpg">
	</div>
	<div class="rule01">
		<img src="../static/images/rule06.jpg">
		<a class="wxqun" style="bottom: 3rem;" href="/page/feedback/emergency" onclick="MtaH5.clickStat('firstCare_wxqun');">进微信群咨询&nbsp;&nbsp;<i class="iconfont icon-jiahao1"></i></a>
	</div>
	<div class="rule02">
		<img src="../static/images/rule07.jpg">
		<a class="joinClass" href="/page/team/participation" onclick="MtaH5.clickStat('firstCare_joinClass');">去加入一个跑班&nbsp;<i class="iconfont icon-right"></i></a>
	</div>
	<div class="rule01">
		<img src="../static/images/rule08.jpg">
	</div>
	<!--<div class="rule01">
		
	</div>
	<div class="rule02">
		<a href="https://mp.weixin.qq.com/s/QakDt5GtvRaA3x8RML9nvg">规则详情&nbsp;<i class="iconfont icon-circleright"></i></a>
	</div>
	<div class="rule03"></div>
	<div class="rule04">
		<a href="https://mp.weixin.qq.com/s/8HYD_gw-tdLf3lpqWio4aQ">点击发现一个美好的故事&nbsp;<i class="iconfont icon-xiangyou1"></i></a>
	</div>
	<div class="rule05"></div>
	<div class="rule06">
		<a href="/page/feedback/emergency">进微信群咨询&nbsp;&nbsp;<i class="iconfont icon-jiahao1"></i></a>
	</div>
	<div class="rule07">
		<a href="/page/team/participation">去加入一个跑班&nbsp;<i class="iconfont icon-right"></i></a>
	</div>
	<div class="rule08"></div>-->
	
</body>

</html>
<link rel="import" href="./common/footer.html?__inline">
<script type="text/javascript" src="../static/js/emergency.js"></script>

